<?xml version="1.0"?>

<robot name="asap_manipulator" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find aerial_manipulators_description)/urdf/manipulator_base.urdf.xacro" />

  <link name="world"></link>

  <xacro:asap_manipulator
    parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:asap_manipulator>

  <xacro:transmisija
    trans_number="1"
    joint_name="joint1">
  </xacro:transmisija>

  <xacro:transmisija
    trans_number="2"
    joint_name="joint2">
  </xacro:transmisija>

  <xacro:transmisija
    trans_number="3"
    joint_name="joint3">
  </xacro:transmisija>

  <xacro:transmisija
    trans_number="4"
    joint_name="joint4">
  </xacro:transmisija>
 
  <xacro:transmisija
    trans_number="5"
    joint_name="joint5">
  </xacro:transmisija>
  
</robot>
