<?xml version="1.0"?>

<robot name="wp_manipulator" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find aerial_manipulators_description)/urdf/manipulator_base.urdf.xacro" />

  <link name="world"></link>

  <xacro:wp_manipulator
    parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:wp_manipulator>
</robot>
