<?xml version="1.0"?>

<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="namespace" default="cmanip"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="enable_logging" default="true"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="cmanip"/>
  <arg name="model_type" default="cmanip" />

  <!-- Launch gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--arg name="world_name" value="$(find morus_gazebo)/worlds/morus.world"/-->
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <include file="$(find aerial_manipulators)/launch/spawn_cmanip.launch">
    <arg name="model_type" value="$(arg model_type)" />
  </include>

  <!-- Start camera manipulator PID control -->
  <include file="$(find aerial_manipulators)/launch/cmanip_control.launch"/>

  <node 
      name="joint_position_control" pkg="aerial_manipulators" 
      type="joint_position_control" output="screen"  ns="$(arg namespace)" 
      args="joint1_position_controller 
      		joint2_position_controller 
      		joint3_position_controller">
    <param name="param_file" value="$(find aerial_manipulators)/config/cmanip_position_control.yaml"/>
  </node>

</launch>
